KursyWalut/Service References/ServiceReferenceKurs/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CurrencyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICurrencyService_GetRate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRate" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRateResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCodes" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDate" />
  </wsdl:message>
  <wsdl:message name="ICurrencyService_GetDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateResponse" />
  </wsdl:message>
  <wsdl:portType name="ICurrencyService">
    <wsdl:operation name="GetRate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/GetRate" message="tns:ICurrencyService_GetRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/GetRateResponse" message="tns:ICurrencyService_GetRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/GetCodes" message="tns:ICurrencyService_GetCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/GetCodesResponse" message="tns:ICurrencyService_GetCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICurrencyService/GetDate" message="tns:ICurrencyService_GetDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICurrencyService/GetDateResponse" message="tns:ICurrencyService_GetDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICurrencyService" type="tns:ICurrencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRate">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/GetRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCodes">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/GetCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDate">
      <soap:operation soapAction="http://tempuri.org/ICurrencyService/GetDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyService">
    <wsdl:port name="BasicHttpBinding_ICurrencyService" binding="tns:BasicHttpBinding_ICurrencyService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CurrencyService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>